.footer {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	padding: 48px 48px;
	width: 100%;
	background: $color-footer-background;

	&__contacts {
		display: flex;
		margin: 8px 32px 52px 32px;
		font-size: 16px;

		.contacts-group {
			display: flex;
			flex-direction: column;

			.logo {
				display: block;
				width: 64px;
				height: 40px;
				transition: $duration-normal;
			}

			.address {
				margin-top: 24px;
				font-family: Suisse Intl;
				line-height: 20px;
				color: $color-footer-text-light;
			}
		}

		.phone-numbers {
			width: 470px;
			margin-left: auto;

			.phone-number {
				font-family: Suisse Intl;
				font-size: 16px;
				line-height: 20px;
				color: $color-footer-text-light;
				height: 20px;

				&_large {
					height: 48px;
					margin-bottom: 24px;
					font-family: Geometria;
					font-weight: bold;
					font-size: 44px;
					line-height: 48px;
					letter-spacing: -0.03em;
					color: $color-footer-text-light;
				}
			}
		}
	}

	&__download-app {
		display: flex;
		padding: 24px 48px;
		background: $color-white;
		border-radius: 32px;

		.download-app-group {
			display: flex;

			.qr-code {
				width: 72px;
				height: 72px;
				margin-right: 40px;
				background-color: $color-footer-text-dark;
			}

			.description {
				margin: 16px 0px;
				font-family: Suisse Intl;
				font-size: 16px;
				line-height: 20px;
				color: $color-footer-text-dark;

				a {
					color: $color-light-blue;
					text-decoration: underline;
				}
			}
		}

		.download-app-btn {
			display: none;
			width: 245px;
			height: 60px;
			align-self: center;
			background: $color-main-btn;
			box-shadow: inset 0px -4px 16px $color-light-blue;
			border-radius: 24px;

			.btn-text {
				font-family: Suisse Intl;
				font-size: 14px;
				color: $color-white;
			}

			&:hover {
				background: $color-main-btn-hover;
			}

			&:active {
				background: $color-main-btn-press;
			}
		}

		&.mobile {
			.download-app-group {
				display: none;
			}

			.download-app-btn {
				display: flex;
			}
		}

		.social-icons-wrapper {
			align-self: center;
			margin: 0 0 0 auto;

			.social-icons {
				display: flex;
				width: fit-content;
				margin: 0 auto;
			}

			.social-icon {
				margin-left: 24px;
				width: 48px;
				height: 48px;
			}
		}
	}

	&__info {
		margin: 24px 32px 0px 32px;
		display: flex;
		font-size: 16px;

		.copyright {
			font-family: Suisse Intl;
			line-height: 20px;
			color: $color-footer-text-light;
		}

		.info-text {
			margin-left: auto;
			width: 470px;
			font-family: Suisse Intl;
			line-height: 20px;
			color: $color-footer-text-dark;
		}
	}
}

@media screen and (max-width: ($desktop * 1px)) {
	.footer {
		padding: 0;

		&__contacts {
			margin: 8px 0 48px 0;

			.phone-numbers {
				width: 350px;
			}
		}

		&__download-app {
			margin: 0 -32px 0 -32px;
			padding: 30px 32px;
		}

		&__info {
			margin: 32px 0 48px 0;

			.info-text {
				width: 350px;
			}
		}
	}
}

@media screen and (max-width: ($tablet-xl * 1px)) {
	.footer {
		&__contacts {
			.phone-numbers {
				width: 300px;
			}
		}

		&__info {
			.info-text {
				width: 300px;
			}
		}
	}
}

@media screen and (max-width: ($tablet * 1px)) {
	.footer {
		&__contacts {
			flex-direction: column;

			.contacts-group {
				margin-bottom: 48px;
			}

			.phone-numbers {
				margin: 0;
				width: 100%;

				.phone-number {
					&_large {
						margin-bottom: 16px;
					}
				}
			}
		}

		&__download-app {
			margin: 0 -24px 0 -24px;
			padding: 30px 24px;

			.download-app-btn {
				width: 220px;
				height: 60px;
			}

			.social-icons-wrapper {
				.social-icon {
					margin-left: 16px;
				}
			}
		}

		&__info {
			flex-direction: column;
			margin: 24px 0 48px 0;

			.info-text {
				width: 100%;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: ($mobile-xl * 1px)) {
	.footer {
		&__contacts {
			font-size: 14px;
			margin: 20px 0 40px 0;

			.contacts-group {
				margin-bottom: 40px;
				.address {
					margin-top: 18px;
				}
			}

			.phone-numbers {
				.phone-number_large {
					font-size: 32px;
					line-height: 32px;
					letter-spacing: -0.04em;
					font-weight: 500;
					height: 32px;
					color: $color-footer-text-light;
				}
			}
		}

		&__download-app {
			flex-direction: column;
			padding: 0 20px 0 20px;
			background: transparent;
			border-radius: 0;

			.download-app-btn {
				width: 100%;
			}

			.social-icons-wrapper {
				width: 100%;
				margin: 8px 0 0 0;
				padding: 20px 32px 20px 32px;
				background: $color-white;
				border-radius: 24px;

				.social-icon {
					width: 32px;
					height: 32px;

					&:first-child {
						margin: 0;
					}
				}
			}
		}

		&__info {
			margin: 40px 0 40px 0;
			font-size: 14px;

			.info-text {
				margin-top: 16px;
			}
		}
	}
}
