.form-content {
	width: 100%;
}

.form {
	max-width: 688px;
	margin-right: 30px;

	&-body {
		margin-bottom: 80px;
	}

	&-title {
		margin: 0 0 56px 0;
		font-family: Geometria;
		font-weight: bold;
		font-size: 44px;
		line-height: 48px;
		letter-spacing: -0.03em;
		color: $color-text-dark;
	}

	&-group {
		width: 100%;
		margin-bottom: 40px;
	}

	&-item {
		width: 100%;

		&__title {
			font-family: Suisse Intl;
			font-size: 16px;
			line-height: 20px;
			color: $color-text-dark;

			margin-bottom: 20px;
		}

		&__email {
			margin-left: 32px;
		}

		&__input {
			input {
				width: 100%;
				height: 72px;
				padding: 20px 24px;

				background: $color-gray;
				border-radius: 12px;
				border: none;

				font-family: Suisse Intl;
				font-weight: 500;
				font-size: 24px;
				line-height: 32px;
				color: $color-text-dark;

				&:active {
					background: $color-white;
					border: 2px solid $color-main-btn-press;
				}
			}

			.input-error {
				display: none;
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				color: $color-text-error;
				padding-left: 24px;
				margin-top: 12px; //49109
			}

			&.error {
				input {
					background: $color-error;
				}

				.input-error {
					display: block;
				}
			}

			&.approved {
				input {
					background: $color-gray url("../../images/sprites/png/tick.png") no-repeat 92% center;
				}
			}
		}

		&__geo {
			margin-left: auto;

			&_icon {
				height: 19px;
				width: 14px;
			}

			&_address {
				margin-left: 15px;
				font-family: Suisse Intl;
				font-size: 16px;
				line-height: 20px;
				text-decoration-line: underline;
				color: $color-blue;
			}
		}
	}

	&-footer {
		.personal-data-confirmation {
			font-family: Suisse Intl;
			font-size: 16px;
			line-height: 20px;
			color: $color-text-dark;

			.confirm {
				width: 192px;

				a {
					text-decoration-line: underline;
					color: $color-blue;
				}
			}
		}

		.confirm-btn {
			width: 328px;
			height: 72px;
			color: $color-white;

			align-items: center;
			padding: 26px 56px;

			box-shadow: inset 0px -4px 16px $color-light-blue;
			border-radius: 24px;
			border: none;

			background: $color-main-btn;
		}
	}
}

.form.error {
	.form {
		&-item {
			&__input {
				input {
					background: $color-error;
				}

				.input-error {
					display: block;
				}
			}
		}
	}
}

.warning {
	margin: 0 auto;

	&__icon {
		height: 56px;
		width: 56px;
		margin-bottom: 24px;

		picture {
			display: flex;
		}
	}

	&__text {
		font-family: Suisse Intl;
		font-size: 16px;
		line-height: 20px;
		color: $color-text-light;
	}
}

@media (max-width: ($desktop * 1px)) {
	.form-content {
		flex-direction: column !important;
	}
	.form {
		margin-right: 0;
		width: 100%;
		max-width: none;
	}

	.warning {
		margin: 80px 0 0 0;
	}
}

@media (max-width: ($tablet * 1px)) {
	.form {
		&-body {
			margin-bottom: 30px;
		}

		&-title {
			margin: 0 0 53px 0;
			font-size: 32px;
			line-height: 32px;
			letter-spacing: -0.05em;
		}

		&-group {
			margin-bottom: 24px;

			&_footer {
				flex-direction: column !important;

				.confirm {
					width: 100%;
				}

				.confirm-btn {
					width: 100%;
					margin-top: 40px;
				}
			}
		}

		&-item {
			&__title {
				margin-bottom: 8px;
				font-size: 14px;
				line-height: 20px;
			}

			&__input {
				input {
					font-size: 20px;
					line-height: 20px;
				}
			}

			&__geo {
				&_address {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}

@media (max-width: ($mobile-xl * 1px)) {
	.form {
		&-group {
			&_info {
				flex-direction: column !important;
			}
		}

		&-item {
			&__email {
				margin: 24px 0 0 0;
			}

			&__geo {
				display: none !important;
			}
		}
	}

	.warning {
		margin-top: 60px;

		&__icon {
			height: 32px;
			width: 32px;
			margin-bottom: 8px;
		}
	}
}
