.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2100;
	padding: 20px 96px;

	&-content {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: block;
		width: 64px;
		height: 40px;
		transition: $duration-normal;
	}

	&__basket {
		color: $color-white;
		background-color: $color-white;
		box-shadow: 0px 0px 45px 0px rgba($color-dark-gray, .20);
		padding: 12px;
		margin-left: auto;
		width: 48px;
		height: 48px;
		border-radius: 50%;

		&_not-empty:after {
			content: '';
			position: absolute;
			right: 0px;
			bottom: 35px;
			width: 12px;
			height: 12px;
			background-size: 12px 12px;
			background-image: url('../images/sprites/svg/notification.svg');

			//background-image: url("../images/#{sprite-image('notification.svg', $size: normal)}");
		}
	}
}

@media (max-width: ($desktop * 1px)) {
	.header {
		padding: 20px 0;

		&__basket_not-empty{
			&:after {
				right: 50px;
			}
		}
	}
}

@media (max-width: ($tablet * 1px)) {
	.header {
		&__basket_not-empty{
			&:after {
				right: 40px;
			}
		}
	}
}

@media (max-width: ($mobile-xl * 1px)) {
	.header {
		&__basket_not-empty{
			&:after {
				right: 22px;
			}
		}
	}
}

@media (max-width: ($mobile * 1px)) {
	.header {
		padding: 8px 0px;
	}
}
