- let selectOptions = [{key: 'Краснопролетарская 9, стр 5'}]

.form-content.flex-column
	form.form
		h2.form-title
			| Оформление заказа

		.form-body
			.form-group.flex-row
				.form-item__title
					| ФИО
				.form-item__input.error
					input(type="text" name="name")
					.input-error
						| Текст ошибки

			.form-group.form-group_info.flex-column.flex-column_space-between
				.flex-row.form-item
					.form-item__title
						| Телефон
					.form-item__input.approved
						input(type="text" name="phone")#phone-input
						.input-error
							| Текст ошибки

				.flex-row.form-item.form-item__email
					.form-item__title
						| E-mail
					.form-item__input
						input(type="email" name="email")#email-input
						.input-error
							| Текст ошибки

			.form-group
				.flex-row
					.form-item__title
						.flex-column
							p Операционный офис
							.form-item__geo.flex-column
									.form-item__geo_icon
										+svg('union')
									.form-item__geo_address
										| г. Симферополь

					select(name='office').form-item__select
						option(value='Офис1') Офис 1
						option(value='Офис2') Офис 2
						option(value='Офис3') Офис 3

		.form-footer
			.form-group_footer.flex-column.flex-column_space-between
				.flex-column.personal-data-confirmation
					input(type='checkbox' value='personal-data')
					.confirm
						span
							p Я согласен на обработку
							a персональных данных

				button.confirm-btn Отправить
	.warning.flex-row
		.warning__icon
			+lazyPicture({
				src: `${baseDir}images/sprites/png/form-warning.png`,
				alt: 'warning',
			}).image
		.warning__text
			p Для приобретения монеты в операционном офисе
			p РНКБ Банк (ПАО) заполните поля

