// - let title_short = "Крым современный"
// - let title_long = "Монета-брелок — Пожелание благополучия"
// - let title_very_long = "Монета-брелок — Пожелание благополучия Монета-брелок — Пожелание благополучия"
// - let old_price = "12 999 P"
// - let btn_title = "Добавлено в корзину"

a.product-card
	.product-card-container.new
		.product-card__image
			//+lazyPicture({
			//	src: `${baseDir}images/sprites/png/coin-gold.png`,
			//	alt: 'Coin',
			//}).image

		.product-card__title
			//p=title_very_long

		.product-card__description
			p Серебро, 925 проба

		.product-card__price
			.price
				//if old_price
				//	.price_old
				//		p=old_price
				//.price_current
				//	| 29 000 ₽

			button.basket-btn.btn
				.tooltip
					//p=btn_title
