// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "components/header";
@import "components/product-card";
@import "components/form";
@import "components/footer";

@import "pages/home";

.container-fluid {
	margin: 0 auto;
	max-width: 1920px;
}

.container {
	margin: 0 auto;
	max-width: 1504px;
}

.flex-column {
	display: flex;
	flex-direction: row;

	&_space-between {
		justify-content: space-between;
	}
}

.flex-row {
	display: flex;
	flex-direction: column;

	&_justify_between {
		justify-content: space-between;
	}

	&_align_center {
		align-items: center;
	}
}

.content {
	padding: 48px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 32px;
}

.toolbar {
	height: 100vh;
	max-width: 448px;
	min-width: 288px;
	background: #E6F7F9;
	border-radius: 12px;
}

@media screen and (max-width: ($desktop * 1px)) {
	.container {
		padding: 0 48px;
	}

	.content {
		padding: 0;
	}

	.toolbar {
		max-width: 288px;
		min-width: 200px;
	}
}

@media screen and (max-width: ($tablet * 1px)) {
	.container {
		padding: 0 36px;
	}

	.toolbar {
		display: none;
	}
}

@media screen and (max-width: ($mobile-xl * 1px)) {
	.container {
		padding: 0 20px;
	}
}
